.benefit {
    min-height: 420px;
    padding-top: 120px;
    &__wrapper {
        width: 880px;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__groups {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__group {
        width: 425px;
    }
    &__item {
        width: 100%;
        margin: 45px 0px;
    }
    &__item-header {
        display: flex;
        &-img {
            width: 36px;
            height: 36px;
            margin-right: 18px;
        }
    }
    &__item-descr {
        margin-top: 12px;
    }
}