.btn {
    display: block;
    width: 135px;
    height: 45px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 165, 1);
    text-align: center;
    line-height: 45px;
    margin-right: 44px;
    &_submit {
        width: 219px;
        line-height: 45px;
        border: none;
        font-size: 14px;
        line-height: 21px;
        margin-right: 0;
        &:hover {
            color: $white-color;
        }
    }
}

@media (max-width: 576px) {
    .btn {
        &_submit {
            order: 2;
            margin: 0 auto;
        }
    }
}