.divider {
    display: block;
    width: 60px;
    height: 2px;
    margin-bottom: 21px;
    background-color: $main-color;
    &_benefit {
        margin: 23px auto 50px auto;
    }
    &_skills {
        margin:  0 auto;
    }
    &_mb61 {
        margin-top: 23px;
        margin-bottom: 61px;
    }
    &_mt2 {
        margin-top: 2px;
    }
}

@media (max-width: 576px) {
    .divider {
        &_about {
            margin-top: 13px;
        }
        &_benefit {
            margin-top: 13px;
            margin-bottom: 41px;
        }
        &_skills {
            margin-top: 13px;
            margin-bottom: 21px;
        }
    }
}