//flex desktop
// .feed__form {
//     height: 340px;
//     width: 100%;
//     margin-top: 30px;
//     display: flex;
//     flex-direction: column;
//     align-items: start;
//     justify-content: space-between;
//     &-data {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//     }
//     &-item {
//         width: 280px;
//         height: 45px;
//         display: flex;
//         flex-flow: column nowrap;
//         border: 1px solid rgb(0, 0, 0);
//         position: relative;
//         label {
//             position: absolute;
//             left: 10px;
//             top: -12px;
//             background-color: #fff;
//             padding: 0px 10px;
//             margin: 0px;
//         }
//         input {
//             box-sizing: border-box;
//             height: 100%;
//             padding: 14px 20px;
//             border: none; 
//         }
//     }
//     &-message {
//         height: 190px;
//         width: 585px;
//         textarea {
//             resizer: none;
//             border: none;
//             padding: 14px 20px;
//         }
//     }
// }

//grid desktop
.feed__form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 45px 190px 45px;
    justify-content: space-between;
    row-gap: 30px;

    &-item {
        border: 1px solid rgb(0, 0, 0);
        position: relative;

        label {
            position: absolute;
            left: 10px;
            top: -12px;
            background-color: #fff;
            padding: 0px 10px;
            margin: 0px;
        }

        input {
            padding: 14px 20px;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &-message {
        grid-column: 1/3;

        textarea {
            resize: none;
            border: none;
            padding: 14px 20px;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1200px) {
    .feed__form {
        grid-template-columns: repeat(2, 250px);
        justify-content: space-between;
    }
}

@media (max-width: 992px) {
    .feed__form {
        grid-template-columns: repeat(2, 195px);
    }
}

@media (max-width: 768px) {
    .feed__form {
        grid-template-columns: repeat(2, 260px);
    }
}

@media (max-width: 576px) {
    .feed__form {
        grid-template: 45px 45px 145px minmax(45px, auto)/1fr;
        column-gap: unset;
        row-gap: 30px;

        &-item {
            label {
                top: -10px;
                font-size: 12px;
                line-height: 18px;
            }
        }

        &-message {
            grid-column: 1;
        }
    }
}