.promo {
    min-height: 100vh;
    position: relative;
    background: $main-color;
    padding-top: 205px;
    color: $white-color;
    &_btns {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;
    }
    &__link {
        color: $white-color;
        font-size: 14px;
        font-weight: bold;
        line-height: 21px;
        &:hover {
            text-decoration: none;
        }
    }
}
