.social {
    position: fixed;
    top: 406px;
    left: 62px;
    width: 338px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%) rotate(-90deg);
    color: $black-color;
    &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &-divider {
        display: block;
        width: 70px;
        height: 2px;
        background-color: $black-color;
    }
    &__items {
        width: 90px;
        height: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-decoration: none;
        color: $black-color;
        span {
            font-size: 20px;
        }
        &:hover {
            color: $black-color;
            text-decoration: none;
        }
    }
}