.title {
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;

    &_main {
        font-size: 48px;
        margin: 0;
    }

    &_section {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    &_group {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }

    &_item {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 0;
    }
}

.subtitle {
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 0;

    &_item {
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
    }
}

@media (max-width: 992px) {
    .subtitle {
        font-size: 30px;
        line-height: 42px;

        &_item {
            font-size: 12px;
            line-height: 18px;
        }
    }
}

@media (max-width: 768px) {
    .title {

        &_main {
            font-size: 28px;
            line-height: 39px;
        }
    }
}

@media (max-width: 576px) {
    .title {

        &_main {
            font-size: 26px;
            line-height: 39px;
        }

        &_item {
            &-title {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    .subtitle {
        font-size: 24px;
        line-height: 36px;

        &_item {
            font-size: 12px;
            line-height: 18px;
        }
    }
}