//flex
// .benefit {
//     min-height: 420px;
//     padding-top: 120px;

//     &__title {
//         position: relative;
//         text-align: center;
//         @include before_circle;

//         &:before {
//             top: -6px;
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }

//     &__wrapper {
//         width: 986px;
//         margin: 0 auto;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     &__groups {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//     }

//     &__group {
//         width: 417px;
//         .group-title {
//             position: relative;
//             padding-left: 35px;

//             &:before {
//                 content: '';
//                 position: absolute;
//                 left: -7px;
//                 top: 3px;
//                 width: 15px;
//                 height: 15px;
//                 background-color: $main-color;
//                 border-radius: 100%;
//             }
//             &:after {
//                 content: '';
//                 width: 1px;
//                 height: 45px;
//                 position: absolute;
//                 top: 18px;
//                 left: 0;
//                 background-color: #000;
//             }
//         }

//         ul {
//             list-style-type: none;

//             li {
//                 position: relative;

//                 &:after {
//                     content: '';
//                     width: 1px;
//                     height: calc(100% + 45px);
//                     position: absolute;
//                     top: -2px;
//                     left: 0;
//                     background-color: #000;
//                 }
//             }
//         }
//     }
//     &__item {
//         position: relative;
//         width: 418px;
//         margin: 45px 0px;
//         padding-left: 42px;

//         &:before {
//             content: '';
//             position: absolute;
//             top: 16px;
//             left: 0;
//             height: 1px;
//             width: 42px;
//             background-color: #000;
//         }

//         &__header {
//             position: relative;
//             display: flex;

//             &-img {
//                 width: 36px;
//                 height: 36px;
//                 margin-right: 18px;
//                 @include before_circle;
//                 &:before {
//                     top: -2px;
//                 }

//                 img {
//                     position: absolute;
//                     left: 16px;
//                     top: 15px;
//                 }
//             }
//         }

//         &-descr {
//             margin-top: 12px;
//             font-size: 12px;
//         }
//     }
// }

//grid desktop
.benefit {
    padding-top: 120px;

    &__title {
        position: relative;
        text-align: center;
        @include before_circle;

        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        text-align: center;
    }

    &__wrapper {
        padding: 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 144px;
    }

    &__group {
        .group-title {
            position: relative;
            padding-left: 35px;

            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 3px;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
            }
        }

        ul {
            list-style-type: none;

            li {
                position: relative;

                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }

    &__item {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 62px;
            height: 1px;
            width: 44px;
            background-color: #000;
        }

        &__header {
            position: relative;
            padding: 45px 0 0 100px;

            &-img {
                position: absolute;
                top: 50px;
                left: 44px;
                @include before_circle;

                img {
                    position: absolute;
                    left: 16px;
                    top: 15px;
                }
            }
        }

        &-descr {
            padding: 12px 0 0 43px;
            font-size: 12px;
        }
    }
}